
<h3>Nav</h3>
<div layout="row" layout-align="center center">
  <div><button mat-raised-button [routerLink]="['/chart2']"  color="acccent">Health</button></div>
  <div><button mat-raised-button [routerLink]="['/chart3']" color="acccent">Power</button></div>
  <div><button mat-raised-button [routerLink]="['/chart4']" color="accent">Utilization</button></div>
</div>

<!-- 
  <div class="flex-item">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>


    <button mat-button mat-raised-button color="primary" (click)="pushOne()">Next Sesions (10 mins later)</button>

    <button mat-button mat-raised-button color="primary" (click)="hideOne()">Toggle kWh Used</button>
    <button mat-button mat-raised-button color="primary" (click)="hideTwo()">Toggle CO2 Saved</button>
    <button mat-button mat-raised-button color="primary" (click)="hideThree()">Toggle US$ Cost</button>

  </div> -->